
<div class="visualizer">
  <div class="container">
    
      <div>
        <h2>Iniciar sesion</h2>
        <div class="inputs">
        <strong>Correo Electrónico:</strong>
        <input type="text" [(ngModel)]="email" placeholder="Ingresa tu correo electrónico" />
      </div>
      <div>
        <strong>Contraseña:</strong>
        <input type="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña" />
      </div>
      <div>
        <strong>Texto:</strong>
        <input type="text" [(ngModel)]="text" placeholder="Ingresa tu texto" />
      </div>
    </div>
    <div class="data-container">
      <h2>Visualizador de Datos</h2>
      <div>
        <strong>Correo Electrónico:</strong> {{ email }}
      </div>
      <div>
        <strong>Contraseña:</strong> {{ password }}
      </div>
      <div>
        <strong>Texto:</strong> {{ text }}
      </div>
    </div>
  </div>
</div>