
  <div>
    <!-- Visualizador -->
    <app-visualizer></app-visualizer> 
    <app-cuadrado></app-cuadrado> 
   
    
  
    <!-- Botones -->
    <app-dark-mode-button (onToggleDarkMode)="toggleDarkMode()"></app-dark-mode-button>
    <app-primary-button (onClick)="togglePinkTheme()"></app-primary-button>
    <app-secondary-button (onClick)="aplicarAnimacion()"></app-secondary-button>
    <app-accept-button (onClick)="guardarDatos()"></app-accept-button>
    <app-cancel-button (onClick)="onCancelClick()"></app-cancel-button>
    
    
    
    
  
  </div>
